:local {
  .cell {
    background-color: blue;
    height: 16px;
    opacity: 0.20;
    visibility: hidden;
    width: 16px;
  }

  .highlight {
    @extend .cell;
    visibility: visible;
  }

  .beginner {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    grid-template-columns: repeat(9, 16px);
    grid-template-rows: repeat(9, 16px);
    height: 144px;
    margin-left: 10px;
    width: 144px;
  }

  .intermediate {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    grid-template-columns: repeat(16, 16px);
    grid-template-rows: repeat(16, 16px);
    height: 256px;
    margin-left: 10px;
    width: 256px;
  }

  .expert {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    grid-template-columns: repeat(30, 16px);
    grid-template-rows: repeat(16, 16px);
    height: 256px;
    margin-left: 10px;
    width: 480px;
  }
}