@import 'colors';

:local {
  .cell {
    background-color: $blue;
    height: 16px;
    opacity: 0.16;
    width: 16px;
    visibility: hidden;
  }

  .highlight {
    @extend .cell;
    visibility: visible;
  }
}