:local {
  .mines0 {
    background: url('../../images/cell/cell.png');
    height: 16px;
    width: 16px;
  }

  .hidden {
    @extend .mines0;
    background: url('../../images/cell/hidden.png');
  }

  .mines-1 {
    @extend .mines0;
    background: url('../../images/mines/mine.png');
  }

  .flagged {
    @extend .mines0;
    background: url('../../images/mines/flagged.png');
  }

  .mines1 {
    @extend .mines0;
    background: url('../../images/mines/one.png');
  }

  .mines2 {
    @extend .mines0;
    background: url('../../images/mines/two.png');
  }

  .mines3 {
    @extend .mines0;
    background: url('../../images/mines/three.png');
  }

  .mines4 {
    @extend .mines0;
    background: url('../../images/mines/four.png');
  }

  .mines5 {
    @extend .mines0;
    background: url('../../images/mines/five.png');
  }

  .mines6 {
    @extend .mines0;
    background: url('../../images/mines/six.png');
  }

  .mines7 {
    @extend .mines0;
    background: url('../../images/mines/seven.png');
  }

  .mines8 {
    @extend .mines0;
    background: url('../../images/mines/eight.png');
  }

  .misflagged {
    @extend .mines0;
    background: url('../../images/mines/wrong_flag.png');
  }

  .mines-2 {
    @extend .mines0;
    background: url('../../images/mines/clicked_mine.png');
  }

  .comp1 {
    @extend .mines0;
    background: url('../../images/cell/blue.png');
  }

  .comp2 {
    @extend .mines0;
    background: url('../../images/cell/dark_green.png');
  }

  .comp3 {
    @extend .mines0;
    background: url('../../images/cell/red.png');
  }

  .comp4 {
    @extend .mines0;
    background: url('../../images/cell/dark_blue.png');
  }

  .comp5 {
    @extend .mines0;
    background: url('../../images/cell/dark_red.png');
  }

  .comp6 {
    @extend .mines0;
    background: url('../../images/cell/dark_cyan.png');
  }

  .comp7 {
    @extend .mines0;
    background: url('../../images/cell/green.png');
  }

  .comp8 {
    @extend .mines0;
    background: url('../../images/cell/cyan.png');
  }
}