@import '../../_colors.scss';

:local {
  .cell {
    background: url('../../images/cell/cell.png');
    height: 16px;
    width: 16px;
  }

  .hidden {
    @extend .cell;
    background: url('../../images/cell/hidden.png');
  }

  .hasMine {
    @extend .cell;
    background: url('../../images/mines/mine.png');
  }

  .flagged {
    @extend .cell;
    background: url('../../images/cell/flagged.png');
  }

  .one {
    @extend .cell;
    background: url('../../images/mines/one.png');
  }

  .two {
    @extend .cell;
    background: url('../../images/mines/two.png');
  }

  .three {
    @extend .cell;
    background: url('../../images/mines/three.png');
  }

  .four {
    @extend .cell;
    background: url('../../images/mines/four.png');
  }

  .five {
    @extend .cell;
    background: url('../../images/mines/five.png');
  }

  .six {
    @extend .cell;
    background: url('../../images/mines/six.png');
  }

  .seven {
    @extend .cell;
    background: url('../../images/mines/seven.png');
  }

  .eight {
    @extend .cell;
    background: url('../../images/mines/eight.png');
  }

  .comp1 {
    @extend .cell;
    background: url('../../images/cell/blue.png');
  }

  .comp2 {
    @extend .cell;
    background: url('../../images/cell/dark_green.png');
  }

  .comp3 {
    @extend .cell;
    background: url('../../images/cell/red.png');
  }

  .comp4 {
    @extend .cell;
    background: url('../../images/cell/dark_blue.png');
  }

  .comp5 {
    @extend .cell;
    background: url('../../images/cell/dark_red.png');
  }

  .comp6 {
    @extend .cell;
    background: url('../../images/cell/dark_cyan.png');
  }

  .comp7 {
    @extend .cell;
    background: url('../../images/cell/green.png');
  }

  .comp8 {
    @extend .cell;
    background: url('../../images/cell/cyan.png');
  }
}