@import 'colors';

:local {
  .top {
    grid-row: 1 2;
  }

  .bottom {
    position: relative;
    left: 20px;
    grid-row: 2 3;
  }

  .container {
    background-color: $unl_dark_blue;
    color: $unl_light_cream;
    border-radius: 5px;
    padding: 10px;
  }

  .backbone {
    @extend .container;
    background-color: $unl_dark_gray;
    display: grid;
    grid-template-rows: auto auto;
  }

  .selector {
    background-color: $unl_light_cream;
    margin-left: 10px;
    width: 40px;
  }

  .button {
    border-radius: 5px;
    background-color: $unl_light_cream;
    font-weight: bold;
    width: 100%;
  }

  .STR2 {
    @extend .button;
    background-color: $unl_dark_green;
  }

  .mWC {
    @extend .button;
    background-color: $unl_wheat;
    width: 61%;
  }
}