@import 'colors';

:local {
  .container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .button {
    background-color: $unl_gray;
    border-radius: 5px;
    font-size: 12pt;
    height: 30px;
    width: 60px;
  }

  .gap {
    min-width: 10px;
  }
}
