@font-face {
  font-family: 'Pixel-LCD-7';
  src:url('../../fonts/Pixel-LCD-7/Pixel-LCD-7.woff') format('woff'),
      url('../../fonts/Pixel-LCD-7/Pixel-LCD-7.svg#Pixel-LCD-7') format('svg'),
      url('../../fonts/Pixel-LCD-7/Pixel-LCD-7.eot'),
      url('../../fonts/Pixel-LCD-7/Pixel-LCD-7.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

:local {
  .beginner {
    background-color: black;
    bottom: 44px;
    color: red;
    font-family: 'Pixel-LCD-7';
    font-size: 20pt;
    height: 26px;
    left: 95px;
    position: relative;
    width: 56px;
  }

  .intermediate {
    background-color: black;
    bottom: 44px;
    color: red;
    font-family: 'Pixel-LCD-7';
    font-size: 20pt;
    height: 26px;
    left: 207px;
    position: relative;
    width: 56px;
  }

  .expert {
    background-color: black;
    bottom: 44px;
    color: red;
    font-family: 'Pixel-LCD-7';
    font-size: 20pt;
    height: 26px;
    left: 431px;
    position: relative;
    width: 56px;
  }
}
