:local {
  .intermediate {
    bottom: 27px;
    display: grid;
    grid-template-columns: repeat(16, 16px);
    grid-template-rows: repeat(16, 16px);
    height: 256px;
    left: 10px;
    position: relative;
    width: 256px;
  }
}