@font-face {
  font-family: 'Pixel-LCD-7';
  src: url('../../fonts/Pixel-LCD-7/Pixel-LCD-7.eot');
  src: url('../../fonts/Pixel-LCD-7/Pixel-LCD-7.woff') format('woff'),
       url('../../fonts/Pixel-LCD-7/Pixel-LCD-7.svg') format('svg');
}

div {
  font-family: 'Pixel-LCD-7';
}