@font-face {
  font-family: 'Pixel-LCD-7';
  src:url('../../fonts/Pixel-LCD-7/Pixel-LCD-7.woff') format('woff'),
      url('../../fonts/Pixel-LCD-7/Pixel-LCD-7.svg#Pixel-LCD-7') format('svg'),
      url('../../fonts/Pixel-LCD-7/Pixel-LCD-7.eot'),
      url('../../fonts/Pixel-LCD-7/Pixel-LCD-7.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

:local {
  .container {
    background-color: black;
    color: red;
    font-family: 'Pixel-LCD-7';
    font-size: 20pt;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 26px;
    margin-left: 13px;
    margin-top: 13px;
    width: 56px;
  }
}
