@import '../colors';

:local {
  .container {
    color: $unl_light_cream;
    background-color: $unl_red;
    border-radius: 5px;
    padding: 10px;
  }
  
  .button {
    font-size: 12pt;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    background-color: $unl_gray;
    margin-bottom: 10px;
  }

  .selector {
    align-self: center;
    background-color: $unl_light_cream;
    margin-left: 10px;
    width: 66px;
  }
}
