:local {
  .container {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 70px;
    width: 115px;
  }
  
  .button {
    height: 39px;
    margin-bottom: 2px;
    width: 44px;
  }

  .selector {
    align-self: center;
    margin-left: 4px;
    width: 66px;
  }
}
