@import 'colors';

:local {
  .container {
    border-radius: 5px;
    color: $unl_light_cream;
    background-color: $unl_red;
    padding: 10px;
  }

  .selector {
    width: 57px;
  }

  .gap {
    height: 5px;
  }

  .customSelectors {
    position: relative;
    left: 16px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 57px auto;
    grid-column-gap: 5px;
  }
}
