@import 'colors';

:local {
  .container {
    background-color: $unl_red;
    padding: 10px;
    border-radius: 5px;
    color: $unl_light_cream;
  }

  .flexContainer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }

  .button {
    background-color: $unl_gray;
    border-radius: 5px;
    height: 35px;
    width: 70px;
  }

  .gap {
    min-width: 10px;
  }
}
