@import 'colors';

button {
  background-color: $unl_gray;
  border-radius: 5px;
  font-size: 12pt;
  height: 30px;
  max-width: fit-content;
  min-height: 30px;
  min-width: 60px;
}

h1 {
  font-size: 1.15em;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

:local {
  .container {
    display: flex;
    height: 97vh;
  }

  .gap {
    min-width: 10px;
    min-height: 10px;

    &_grow {
      @extend .gap;
      flex-grow: 1;
    }
  }
}
