:local {
  .container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 115px 500px 115px 500px;
    grid-template-rows: 70px 70px 70px 70px 70px;
  }
}
