@import 'colors';

button {
  background-color: $unl_gray;
  border-radius: 5px;
  font-size: 12pt;
  height: 30px;
  min-width: 60px;
}

h1 {
  font-size: 1.15em;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

:local {
  .container {
    display: flex;
  }

  .gap {
    min-width: 10px;
    min-height: 10px;
    flex-grow: 1;
  }

  .static_gap {
    min-width: 10px;
    min-height: 10px;
    flex-grow: 0;
  }
}
