@import 'colors';

:local {
  .container {
    border-radius: 5px;
    min-width: 400px;
    background-color: $unl_light_cream;
    overflow: auto;
    padding: 10px;
    white-space: pre-wrap;
    height: 100%;
  }

  .log {
    background-color: $unl_light_gray;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
  }

  .green {
    @extend .log;
    background-color: $green;
    color: $unl_light_cream;
  }

  .red {
    @extend .log;
    background-color: $light_red_80;
    color: $unl_light_cream;
  }

  .log:hover {
    background-color: $unl_gray;
  }

  .green:hover {
    background-color: $unl_dark_green;
  }

  .red:hover {
    background-color: $red_80;
  }
}
