:local {
  .container {
    background-color: #c0c0c0;
    grid-column: 4 / 5;
    grid-row: 2;
    height: 335px;
    top: -25px;
    overflow: auto;
    padding: 6px;
    position: relative;
    white-space: pre-wrap;
    width: 500px;
  }

  .log {
    position: relative;
    z-index: 1;
  }

  .log:hover {
    background-color: #808080;
  }
}
