:local {
  .container {
    background-color: #c0c0c0;
    grid-column: 4 / 5;
    grid-row: 2;
    height: 335px;
    top: -25px;
    overflow: auto;
    padding: 6px;
    position: relative;
    white-space: pre-wrap;
    width: 500px;
  }

  .log {
    border-top: 2px solid #c0c0c0;
    position: relative;
    z-index: 1;
  }

  .green {
    @extend .log;
    background-color: rgb(0, 160, 0);
  }

  .red {
    @extend .log;
    background-color: red;
  }

  .log:hover {
    background-color: #808080;
  }

  .green:hover {
    background-color: rgb(0, 112, 0);
  }

  .red:hover {
    background-color: rgb(207, 0, 0);
  }

  .log .cellHighlight {
    background-color: rgb(0, 0, 255);
    opacity: 0.5;
    visibility: hidden;
  }

  .log:hover .cellHighlight {
    visibility: visible;
  }
}
