@import 'colors';

:local {
  .container {
    // color: $unl_light_cream;
    // background-color: $unl_red;
    // border-radius: 5px;
    // padding: 10px;
    border: black 3pt solid; 
    border-right: 0pt;
    height: 150px; 
  }

  .button {
    margin-bottom: 10px;
  }

  .holder {
    padding: 10px; 
  }
}
