@import 'colors';

:local {
  .container {
    color: $unl_light_cream;
    background-color: $unl_red;
    border-radius: 5px;
    padding: 10px;
  }

  .button {
    background-color: $unl_gray;
    border-radius: 5px;
    font-size: 12pt;
    height: 30px;
    width: 60px;
    margin-bottom: 10px;
  }
}
