$bg: #c0c0c0;
$border: #808080;
$one_mine_blue: #0000ff;
$two_mine_green: #008000;
$three_mine_red: #ff0000;
$four_mine_blue: #000080;
$five_mine_red: #800000;
$six_mine_cyan: #008080;
$seven_mine_black: #000000;
$eight_mine_grey: #808080;
 